* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(img/fonas.jpg);
    color: #fff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.clock-digital {
    text-align: center;
}
.date {
    font-family: sans-serif;
    font-size: 3rem;
}
.time {
    font-family: monospace;
    font-size: 8rem;
}
.clock-analog {
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 100px;
    position: relative;
    overflow: hidden;
}
.clock-analog > * {
    transform-origin: bottom;
}
.hours {
    background-color: #000;
    width: 8px;
    height: 70px;
    position: absolute;
    top: calc(50% - 70px);
    left: calc(50% - 5px);
}    
.minutes {
    background-color: #000;;
    width: 5px;
    height: 80px;
    position: absolute;
    top: calc(50% - 80px);
    left: calc(50% - 3px);
}
.seconds {
    background-color: orangered;
    width: 3px;
    height: 90px;
    position: absolute;
    top: calc(50% - 90px);
    left: calc(50% - 2px); 
}

/* Pomodoro */
.pomodoro {
    display: flex;
    align-items: center;
    gap: 10px;
}
.slider {
    background-color: #fff;
    padding: 3px;
    border-radius: 11px;
    width: 51px;
    transition: all 200ms;
}
.dot {
    background-color: red;
    width: 15px;
    height: 15px;
    border-radius: 8px;
    transition: all 200ms;
}
.label {
    font-family: sans-serif;
}

.active {
    background-color: red;
}

.active .dot {
    background-color: #fff;
    transform: translateX(30px);
}
.work {
    color: red;
}
.chill {
    color: rgb(7, 241, 7);
}
.pomo-bg {
    width: 100px;
    height: 100px;
    position: relative;
    transform-origin: bottom right;
    transform: rotate(90deg);
    display: none;
}
.pomo-bg > div {
    width: 100px;
    height: 100px;background-color: salmon;
    position: absolute;
}
div.bg2 {
    transform-origin: bottom right;
    transform: rotate(60deg);
}

.show {
    display: block;
}
 
